@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

@layer base {
  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  h2 {
    font-size: 24px;
  }
}